<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 07 2014 11:47:54 GMT+0000 (UTC) -->
<html data-wf-site="531902edb0a7679c100000ca">
<head>
  <meta charset="utf-8">
  <title>TaskApplication - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/taskapplication.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="http://freefavicons.org/download/check-mark/?favicon=check-mark&type=ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body class="w-clearfix login">
  <a class="w-inline-block homebutton" href="index.handlebars"></a>
  <h1 class="about">About</h1>
  <p class="aboutparagraph">Taskit is an application designed by Cesar Cisneros, Jaysen Parmar, and Sarah Vu for UCSD's Intro to Human Computer Interaction taught by Professor Scott Klemmer during Winter Quarter 2014
    <br><br>
    Acknowledgements:
    <br> Nodemailer by Andris Reinman <br> Professor Klemmer and TAs from COGS 120/CSE 170 <br> Webflow <br>  “Write” symbol by Lemon Liu, from <a href="thenounproject.com">The Noun Project</a> collection.<br> <br>  “Check Mark” symbol by Icomatic, from <a href="thenounproject.com">The Noun Project</a> collection.<br><br>  “Email” symbol by Martha Ormiston, from <a href="thenounproject.com">The Noun Project</a> collection.<br><br>  “Check Box” symbol by Katie Westbrook, from <a href="thenounproject.com">The Noun Project</a> collection.<br><br>  “Sort” symbol by Nemanja Ivanovic, from <a href="thenounproject.com">The Noun Project</a> collection.<br><br>  “Settings” symbol by Joe Mortell, from <a href="thenounproject.com">The Noun Project</a> collection.<br></p> 
  <div class="w-nav navbar" data-collapse="medium" data-animation="default"
  data-duration="400" data-contain="1">
    <div class="w-container actionbar"></div>
  </div>
  <div class="footer"><a class="links footerlinks" href="signup.handlebars">Sign Up &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;</a><a class="links footerlinks" href="login.handlebars">Log In &nbsp;&nbsp;
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</body>
</html>