<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 07 2014 11:47:54 GMT+0000 (UTC) -->
<html data-wf-site="531902edb0a7679c100000ca">
<head>
  <meta charset="utf-8">
  <title>TaskApplication - addtask</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/taskapplication.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="http://freefavicons.org/download/check-mark/?favicon=check-mark&type=ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container actionbar">
      <a class="w-inline-block homebutton" href="dashboard.handlebars"></a>
      <a class="w-inline-block homebutton action-buttons add" href="addtask.handlebars">
      </a>
      <a class="w-inline-block homebutton action-buttons" href="invite.handlebars">
      </a>
      <a class="w-inline-block homebutton action-buttons settings" href="settings.handlebars">
      </a>
    </div>
  </div>
  <div class="addtaskform">
    <div class="w-form">
      <form class="w-clearfix addform" name="email-form" role="form" method="get" action="add">
        <h3>Add Task</h3>
        <p class="adddescription">You can add task and assign them here. Set up the date and its level of priority and you are all set!</p>
        <input class="w-input form_inputs" type="text" placeholder="Enter Task" name="taskname" data-name="taskname" required="required"></input>
        <input class="w-input form_inputs" type="text" placeholder="Enter Description" name="description" data-name="description" required="required"></input>
        <select class="w-select form_inputs" name="id" data-name="id" required="required">
        <option value="">Assign Task...</option>
          {{#each Members}}
        <option name={{name}} value="{{id}} {{name}}">{{name}}</option>
          {{/each}}
      </select>
        
        <select class="w-select form_inputs" name="due" data-name="due" required="required">
          <option value="">Due By...</option>
          <option value="asap">Asap</option>
          <option value="end of day">End of Day</option>
          <option value="end of week">End of Week</option>
        </select>
        <select class="w-select form_inputs" name="priority" data-name="priority" required="required">
          <option value="">Priority...</option>
          <option value="low-priority">Low</option>
          <option value="medium-priority">Medium</option>
          <option value="high-priority">High</option>
        </select>
        <button class="button signupbutton" type="submit" value="Add">Add Task</button>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</body>
</html>