<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 07 2014 11:47:54 GMT+0000 (UTC) -->
<html data-wf-site="531902edb0a7679c100000ca">
<head>
  <meta charset="utf-8">
  <title>TaskApplication - forgotpassword</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../public/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../public/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="../public/css/taskapplication.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="http://freefavicons.org/download/check-mark/?favicon=check-mark&type=ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body class="login">
  <a class="w-inline-block" href="#">
    <img class="homescreen_image" src="../public/images/icon_3879.png" width="150" height="150" alt="531938dab0a7679c1000029e_icon_3879.png">
  </a>
  <div>
    <div class="w-form">
      <form class="w-clearfix sign-up-form" name="email-form" data-name="Email Form">
        <h1 class="login">Forgot&nbsp;Password?</h1>
        <p class="password-explanation passwordparagraph">We’ll send your password to your email</p>
        <input class="w-input form_inputs" type="text" placeholder="email" name="email" data-name="email" required="required"></input><a class="button signupbutton" href="login.html">Send</a>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
  <div class="footer"><a class="links footerlinks" href="signup.html">Sign Up &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;</a><a class="links footerlinks" href="login.html">Log In &nbsp;&nbsp;|</a><a class="links footerlinks" href="about.html">About</a>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="../public/js/webflow.js"></script>
</body>
</html>