<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 07 2014 11:47:54 GMT+0000 (UTC) -->
<html data-wf-site="531902edb0a7679c100000ca">
<head>
  <meta charset="utf-8">
  <title>TaskApplication</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/taskapplication.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="http://freefavicons.org/download/check-mark/?favicon=check-mark&type=ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body class="homescreen_body">
  <div class="w-clearfix homescreen">
    <div class="w-slider slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask">
        <div class="w-slide">
          <img class="_1stimage" src="/images/icon_3879.png" width="150" height="150" alt="531938dab0a7679c1000029e_icon_3879.png">
          <h1 class="homescreen_heading">checkmates</h1>
          <p class="homescreen_description">Kiss your tasks goodbye. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A simple way to share tasks among a group of people</p>
        </div>
        <div class="w-slide">
          <img class="_1stimage" src="/images/icon_18819.png" width="150" height="150" alt="53196063a240be9d100004b9_icon_18819.png">
          <h2 class="_2ndtitle">minimal design</h2>
          <p class="slider1paragraph homescreen_description">A simple to do list, that allows you to quickly add and assign chores.</p>
        </div>
        <div class="w-slide">
          <img class="_1stimage" src="/images/icon_22384.png" width="150" height="150" alt="5319aeae6fc18fe1120009fd_icon_22384.png">
          <h2 class="_2ndtitle">prioritize tasks</h2>
          <p class="slider1paragraph homescreen_description">Prioritize your tasks with our color coding for items.</p>
        </div>
        <div class="w-slide">
          <img class="_1stimage" src="/images/icon_15546.png" width="150" height="150" alt="531955e56fc18fe11200046c_icon_15546.png">
          <h2 class="_2ndtitle">invite friends</h2>
          <p class="slider1paragraph homescreen_description">Invite button allows you to easily send an email to your group to start assiging tasks</p>
        </div>
        <div class="w-slide">
          <img class="_1stimage" src="/images/icon_21211.png" width="150" height="150" alt="531955fde54411de1200046b_icon_21211.png">
          <h2 class="_2ndtitle">quickly add tasks</h2>
          <p class="slider1paragraph homescreen_description">Simple interface allows you to quickly inform your group of upcoming tasks.</p>
        </div>
      </div>
      <div class="w-slider-arrow-left"></div>
      <div class="w-slider-arrow-right"></div>
      <div class="w-slider-nav w-round slidenav"></div>
    </div><a class="button homescreen_button login" href="login.handlebars">Login</a><a class="button homescreen_button" href="signup.handlebars">Sign-Up</a>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</body>
</html>